<!DOCTYPE html><!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Dashboard</title>
        <meta name="description" content="A Simple Dashboard">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            html,
            body {
                padding: 0;
                margin: 0;
                height: 100%;
                width: 100%;
                font-family: 'Helvetica Nue', Helvetica, sans-serif;
            }

            /* Box Sizing */
            *,
            *:before,
            *:after {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

            /* Clearfix */
            .cf:before,
            .cf:after {
                content: " "; /* 1 */
                display: table; /* 2 */
            }

            .cf:after {
                clear: both;
            }

            /**
             * For IE 6/7 only
             * Include this rule to trigger hasLayout and contain floats.
             */
            .cf {
                *zoom: 1;
            }
            ul {
                -moz-padding-start: 0;
                -webkit-padding-start: 0;
                -khtml-padding-start: 0;
                -o-padding-start: 0;
                -webkit-margin-before: 0;
                -moz-margin-before: 0;
                -khtml-margin-before: 0;
                -o-margin-before: 0;
                -webkit-margin-after: 0;
                -moz-margin-after: 0;
                -khtml-margin-after: 0;
                -o-margin-after: 0;
            }
            /* End Reset */

            .hide {
                display: none
            }

            .container {
                margin-left: auto;
                margin-right: auto;
                width: 800px;
            }
            .main-title {
                padding: 10px;
                text-align: center;
            }
            .item-list, .sidebar-list {
                list-style-type: none;
            }
            .content {
                float: left;
                width: 70%;
                padding: 2.5%;
            }
            .sidebar {
                float: left;
                width: 30%;
                padding: 2.5%;
                border-right: 1px solid #ededed;
            }
            .sidebar-title {
                font-size: 12px;
                padding-bottom: 5px;
                text-transform: uppercase;
                font-weight: normal;
                border-bottom: #ededed 1px solid;
                color: #333;
            }
            .sidebar-list li {
                border: none;
                position: relative;
                background: #f7f7f7;
                border-radius: 5px;
                padding: 3px;
                margin-bottom: 5px;
                border: 1px solid #fff;
            }
            .sidebar-list li:after {
              content: '✓';
              position: absolute;
              display: none;
              right: 10px;
              top: 0px;
              line-height: 32px;
            }
            .sidebar-list li.active:after {
              display: block
            }
            .sidebar-list li:hover {
              border: 1px solid #a8d9e3;
            }
            .sidebar-list li button {
                border: none;
                background: none;
                width: 100%;
                text-align: left;
                font-size: 0.8em;
            }
            .sidebar-list li button:focus {
              outline: none;
            }
            .item-list li {
                border: none;
                background: #f7f7f7;
                border-radius: 5px;
                padding: 7px;
                margin-bottom: 5px;
            }
            .item-list li a {
                border: none;
                background: none;
                width: 100%;
                text-align: left;
                color: inherit;
                font-size: 0.8em;
                text-decoration: none;
            }

            .font-white {
                color: #fff;
            }
            .font-black {
                color: #333;
            }

            .section-wrapper {
              position: relative;
            }
            .filter-clear {
              position: absolute;
              top: -6px;
              right: 0;
              background: #ededed;
              border: none;
              border-radius: 3px;
              line-height: 14px;
              display: none;
            }

            /* Status Styles */
            li.development {
                background: #94caeb;
                color: #fff;
            }
            li.qa {
                background: #eb9494;
                color: #fff;
            }
            /* End Status Styles */
        </style><!--[if IE 8]>
        <script>
            // Protect window.console method calls, e.g. console is not defined on IE
            (function() {
                if (!window.console) {
                    window.console = {};
                }
                // union of Chrome, FF, IE, and Safari console methods
                var m = [
                    "log", "info", "warn", "error", "debug", "trace", "dir", "group",
                    "groupCollapsed", "groupEnd", "time", "timeEnd", "profile", "profileEnd",
                    "dirxml", "assert", "count", "markTimeline", "timeStamp", "clear"
                ];
                // define undefined methods as noops to prevent errors
                for (var i = 0; i < m.length; i++) {
                    if (!window.console[m[i]]) {
                        window.console[m[i]] = function() {};
                    }
                }
            })();
        </script><![endif]-->
    </head>
    <body class="dashboard-body">
        <header>
            <div class="container main-title">
                {{#if logo}}
                <img alt="Logo" width="170" src="{{logo}}" />
                {{else}}
                <h3>Logo</h3>
                {{/if}}
            </div>
        </header>
        <div class="container cf">
            <div class="sidebar">
                <div class="section-wrapper">
                    <h2 class="sidebar-title">Categories</h2>
                    <ul class="sidebar-list category">
                    {{#each categories}}
                        {{#ifvalue class value='page'}}
                        <li class="{{class}} active">
                            <button type="button" class="font-black">{{name}}</button>
                        </li>
                        {{else}}
                        <li class="{{class}}">
                            <button type="button" class="font-black">{{name}}</button>
                        </li>
                        {{/ifvalue}}
                    {{/each}}
                    </ul>
                </div>
                <div class="section-wrapper">
                    <h2 class="sidebar-title">Legend</h2>
                    <button class="filter-clear" type="button">Clear</button>
                    <ul class="sidebar-list legend">
                    {{#each statuses}}
                        <li class="{{class}}">
                            <button type="button" class="font-white">{{name}}</button>
                        </li>
                    {{/each}}
                    </ul>
                </div>
            </div>
            <div class="content">
                <ul class="item-list">
                {{#each data}}
                    {{#ifvalue category value='page'}}
                    <li class="{{category}} {{status}}">
                        <a href="{{link}}">{{label}}</a>
                    </li>
                    {{else}}
                    <li class="{{category}} {{status}} hide">
                        <a href="{{link}}">{{label}}</a>
                    </li>
                    {{/ifvalue}}
                {{/each}}
                </ul>
            </div>
        </div>
        <script>
            /*jshint browser: true*/
            'use strict';
            (function() {

                var itemList = document.querySelector('.item-list');
                var categoryList = document.querySelector('.category');
                var legendList = document.querySelector('.legend');

                var categoryItems = categoryList.getElementsByTagName('li');
                var itemItems = itemList.getElementsByTagName('li');
                var legendItems = legendList.getElementsByTagName('li');

                var clearButtons = document.querySelectorAll('.filter-clear');

                var changeActiveItem = function(items, theClass, context) {
                  var regex = new RegExp(' active', 'g');
                  for (var j = 0; j < items.length; j += 1) {
                      items[j].className = items[j].className.replace(regex, '');
                  }
                  context.className += ' active';
                };

                var clearFilters = function(context) {
                  context.style.display = 'none';
                  var listItems = context.parentNode.getElementsByTagName('li');
                  for (var i = 0; i < listItems.length; i += 1) {
                    listItems[i].className = listItems[i].className.replace(/ active/, '').replace(/active /, '').replace(/active/, '')
                  }
                };

                var showClearButton = function(context) {
                  context.parentNode.parentNode.querySelector('.filter-clear').style.display = 'block';
                };

                var filterItems = function() {
                  var activeSidebarItems = document.querySelector('.sidebar').querySelectorAll('.active');
                  var filters = [];
                  for (var i = 0; i < activeSidebarItems.length; i += 1) {
                    filters.push(activeSidebarItems[i].className.split(' ')[0]);
                  }
                  for (var j = 0; j < itemItems.length; j += 1) {
                    var classes = itemItems[j].className.split(' ');
                    var show = true;
                    for (i = 0; i < filters.length; i += 1) {
                      if (classes.indexOf(filters[i]) > -1) {
                      }
                      else {
                        show = false;
                      }
                    }
                    if (show) {
                      itemItems[j].className = itemItems[j].className.replace(/ hide/, '').replace(/hide /, '').replace(/hide/, '');
                    }
                    else if (itemItems[j].className.indexOf('hide') === -1) {
                      itemItems[j].className = itemItems[j].className.concat(' hide');
                    }
                  }
                };

                var catItemsClick = function() {
                    changeActiveItem(categoryItems, 'active', this);
                    filterItems();
                };

                var legendItemsClick = function() {
                    changeActiveItem(legendItems, 'active', this);
                    showClearButton(this);
                    filterItems();
                };

                var clearButtonsClick = function() {
                    clearFilters(this);
                    filterItems();
                };

                for (var i = 0; i < categoryItems.length; i += 1) {
                    categoryItems[i].addEventListener('click', catItemsClick);
                }

                for (i = 0; i < legendItems.length; i += 1) {
                    legendItems[i].addEventListener('click', legendItemsClick);
                }

                for (i = 0; i < clearButtons.length; i += 1) {
                    clearButtons[i].addEventListener('click', clearButtonsClick);
                }

            })();
        </script>
    </body>
</html>